.project-list {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 40px;
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.project-list::-webkit-scrollbar {
  display: none;
}

.project-images {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.project-images img {
  max-width: 45%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-images img:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
}

.project h1,
.project h2 {
  text-align: center;
  color: #8aec5e;
  line-height: 1.4;
  margin: 15px 0 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.project h1:hover,
.project h2:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.project h3 {
  text-align: left;
  color: #8aec5e;
  line-height: 1.4;
  margin: 15px 0 5px;
}

.project p,
.project li {
  color: white;
}

.project ul {
  padding-left: 20px;
}

.project ul li {
  margin-bottom: 8px;
  list-style-position: outside;
}

.project h3.urls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.2em;
  margin: 40px 0 100px;
  line-height: 1.4;
}

.project h3.urls a {
  color: #8aec5e;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #8aec5e;
  border-radius: 5px;
  white-space: nowrap; 
  margin: 0 10px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.project h3.urls a:hover {
  background-color: #8aec5e;
  color: #05090e;
}

@media (max-width: 600px) {
  .project h3.urls {
    flex-direction: column;
    align-items: center;
  }
  .project h3.urls a {
    width: 100%;
   
  }
}
